*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.menu {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.88px;
    text-align: center;
    margin-left: 30px;
    color: #17233D;
    cursor: pointer;
    
}

.button-menu{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    width: 124px;
    height: 51px;
    border-radius: 6px;
    background:#6FBF44;
    border: 1px solid #4CB538;
    margin-left: 28px;
    color: #ffffff;
    cursor: pointer;
}

header{
    margin-top: 30px;
}
img{
    width: 495px;
    height: 500px;
    margin-top: 100px;
    margin-left: 80px;
    display: inline-block;
}
section{
    display: inline-block;
    margin-left: 50px;
}

h1{
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    color: #161A49;
    top: 200px;
    width: 582px;
    height: 184px;
}

p{
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin: 40px 0;
    width: 493px;
    height: 99px;
}

.button-main{
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: 500px;
    letter-spacing: 1px;
    color:#6fbf44;
    margin-top: 20px;
    cursor: pointer;
}

@media screen and (max-width:600px){
    .menu{
        display: none;
    }
    .button-menu{
        margin-left: 400px;
        width: 100px;
        height: 50px;
        border-radius: 6px;
        font-weight: 500;
        font-size: 12px;
    }
    .button-menu:active{
        opacity: 0.8;
    }
    section{
        text-align: center;
        margin-top: 38px;
        margin-left: 95px;
    }
    h1{
        font-weight: 700;
        font-size: 34px;
        line-height: 37px;
        letter-spacing: 0.6px;
        width: 300px;
        height: 60px;
    }
    p{
        font-weight: 400;
        font-size: 18px;
        line-height: 33px;
        letter-spacing: 0.5px;
        width: 304px;
        height: 165px;
    }
    img{
        position: fixed;
        top: 349px;
        width: 312px;
        height: 288px;
        margin-top: 155px;
    }
    .button-main{
        width: 122px;
        height: 27px;
    }
}